/* Fonts */
@font-face {
    font-weight: 400;
    font-family: Inter;
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-weight: 500;
    font-family: Inter;
    src: url("../fonts/Inter-Medium.ttf");
}

@font-face {
    font-weight: 600;
    font-family: Inter;
    src: url("../fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-weight: 700;
    font-family: Inter;
    src: url("../fonts/Inter-Bold.ttf");
}

/* Default styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1.4;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #29374E;
    font-size: 16px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    line-height: 1.3;
    font-weight: 500;
    font-size: 2.375rem;
}

h1>span {
    color: #0962E8;
}

/* buttons */
.btn {
    padding: 12px 30px;
    line-height: 140%;
    font-size: 1.125rem;
    border: 1px solid transparent;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.btn_info {
    color: #fff;
    background-color: #0962E8;
}

/* For mobile */

.container {
    max-width: 1024px;
    padding: 0 16px 0 16px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #CBECFF;
    padding-top: 22px;
    padding-bottom: 33px;
}

header>.container {
    background-image: url(/img/hand-sm.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.lang_select {
    font-size: 0.875rem;
    margin-right: 5px;
    display: flex;
    justify-content: right;
}

.lang_select>a {
    width: 26px;
    height: 26px;
    margin-left: 9px;
    text-decoration: none;
    border-radius: 50%;
    color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.lang_select>a.active,
.lang_select>a:hover {
    color: #0962E8;
    background-color: #fff;
}

.promo {
    margin-top: 410px;
    height: 196px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-content: space-between;
}

.company_name::before {
    content: url('../img/finkit.png');
}

.panel {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    margin: 22px 0 33px 0;
}

.feature_card {
    position: relative;
    padding: 42px 20px 20px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #fff;
    font-weight: 500;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
}

.feature_card>i {
    color: #0962E8;
    position: absolute;
    left: 27px;
    top: 4px;
    font-size: 1.5rem;
}

.icon_wrap {
    position: absolute;
    border: 1px solid transparent;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    left: 18px;
    top: -5px;
    background-color: #EFF9FF;
}

section.content {
    padding-top: 40px;
}

.container>h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.platform {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 16px;
}

.platform_card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #E9F6FF;
    padding: 25px 20px 0 16px;
    border: 1px solid transparent;
    border-radius: 30px;
}

.platform_card h2 {
    font-weight: 600;
}

.platform_card p {
    font-size: 0.8125rem;
    margin-top: 4px;
}

.platform_card img {
    width: 142px;
    margin-left: 10px;
    border-radius: 20px 20px 0 0;
    box-shadow: 8px -8px 16px rgba(0, 0, 0, 0.06);
}

.value {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 15px;
    row-gap: 20px;
    margin-top: 40px;
}

.value_info>h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.value_info>a {
    margin-top: 12px;
}

.value_info {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 4px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
}

.value_card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 42px auto;
    align-items: flex-start;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0 18px 12px 18px;
}

.value_card i {
    font-size: 1.5rem;
    color: #0962E8;
}

.value_card>.value_icon_wrap {
    width: 40px;
    height: 40px;
    background-color: #EFF9FF;
    text-decoration: none;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    position: relative;
    top: -5px;
}


/* for desctop */

@media only screen and (min-width: 1023px) {

    .container {
        padding: 0 60px 0 60px;
    }

    /* header */
    header {
        padding-bottom: 0;
    }

    header>.container {
        min-height: 678px;
        background-image: url(/img/hand-bg.png);
        background-position: right center;
    }

    header>.container:after {
        content: "";
        display: inline-block;
        background-image: url(/img/hand-bg.png);
        background-repeat: no-repeat;
        position: relative;
    }

    .promo {
        display: block;
        margin-top: 78px;
        max-width: 350px;
    }

    .company_name {
        font-weight: 700;
        font-size: 4rem;
    }

    .company_name::before {
        content: "Fin";
    }

    .company_name::after {
        padding: 2px 15px;
        border-radius: 20px;
        background-color: #fff;
        color: #0962E8;
        content: "Kit";
    }

    .promo>p {
        margin-top: 14px;
        font-size: 1.375rem;
        line-height: 1.3;
    }

    .promo>a {
        margin-top: 38px;
    }

    .panel {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        position: relative;
        top: 272px;
    }

    .feature_card {
        padding: 20px;
    }

    .feature_card>i {
        right: 24px;
        left: auto;
        top: 27px;
    }

    .icon_wrap {
        right: 15px;
        left: auto;
        top: 18px;
    }

    /* Section content  */
    section.content {
        padding-top: 142px;
    }

    .container>h1 {
        text-align: center;
        font-size: 2.375rem;
        font-weight: 600;
    }

    .platform {
        margin-top: 44px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 20px;
    }

    .platform_card h2 {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .platform_card p {
        font-size: 0.875rem;
        margin-top: 12px;
    }

    .platform_card img {
        width: 218px;
        margin-left: 23px;
    }

    .value {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        column-gap: 19px;
        row-gap: 21px;
        margin-top: 120px;
    }

    .value_info {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        text-align: start;
        font-size: 0.875rem;
        font-weight: 500;
        padding-right: 25px;
    }

    .value_info>h1 {
        font-size: 2.375rem;
        font-weight: 500;
    }

    .value_info>a {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .value_card {
        grid-template-rows: 70px auto;
        box-shadow: none;
        border-radius: 30px;
        min-height: 140px;
        padding: 0 25px;
    }

    .value_card i {
        font-size: 2.5rem;
        position: relative;
        left: -3px;
        top: -3px;
    }

    .value_card>.value_icon_wrap {
        justify-content: center;
        align-self: center;
        position: static;
    }
}