/* Fonts */
@font-face {
    font-weight: 400;
    font-family: Inter;
    src: url("../fonts/Inter-Regular.ttf");
  }
  @font-face {
    font-weight: 500;
    font-family: Inter;
    src: url("../fonts/Inter-Medium.ttf");
  }
  @font-face {
    font-weight: 600;
    font-family: Inter;
    src: url("../fonts/Inter-SemiBold.ttf");
  }
  @font-face {
    font-weight: 700;
    font-family: Inter;
    src: url("../fonts/Inter-Bold.ttf");
  }

/* Default styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 140%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #29374E;
    font-size: 16px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.container {
    max-width: 1440px;
    padding: 0 60px 0 60px;
    margin-left: auto;
    margin-right: auto;
}
/* buttons */
.btn {
    padding: 12px 30px;
    line-height: 140%;
    font-size: 1.125rem;
    border: 1px solid transparent;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.btn_info {
    color: #fff;
    background-color: #0962E8;
}
/* header */

header {
    background-color: #CBECFF;
    padding-top: 22px;
}
header > .container {
    background-image: url(/img/hand-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    min-height: 678px;
}

header > .container:after {
    content: "";
    display: inline-block;
    background-image: url(/img/hand-bg.png);
    background-repeat: no-repeat;
    position: relative;
}
.lang_select {
    font-size: 0.875rem;
    margin-right: 5px;
    display: flex;
    justify-content: right;
}
.lang_select > a {
    width: 26px;
    height: 26px;
    margin-left: 9px;
    text-decoration: none;
    border-radius: 50%;
    color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.lang_select > a.active, .lang_select > a:hover {
    color: #0962E8;
    background-color: #fff;
}
.promo {
    line-height: 130%;
    margin-top: 122px;
}
.promo > h1 {
    font-weight: 700;
    font-size: 4rem;
    height: 4rem;
}
.promo > h1 > span{
   color: #0962E8;
   background-color: #fff;
   padding: 2px 16px;
   border: 1px solid transparent;
   border-radius: 20px;
}
.promo > p {
    font-size: 1.375rem;
}
.promo > a {
    margin-top: 38px;
}
.panel {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 20px;
    position: relative;
    top: 233px;
}
.feature_card {
    position: relative;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #fff;
    font-weight: 500;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
}
.feature_card > i {
    color: #0962E8;
    position: absolute;
    right: 23px;
    top: 26px;
    font-size: 1.5rem;
}
.icon_wrap {
    position: absolute;
    border: 1px solid transparent;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    right: 15px;
    top: 18px;
    background-color: #EFF9FF;
}
/* Section content  */
.product_header {
    margin-top: 142px;
    text-align: center;
    font-weight: 500;
    font-size: 2.375rem;
}
.product_header > h1 {
    height: 2.375rem;
}
.product_header > h1 > span{
    color: #0962E8;
}

